#body{
    margin-top:6%;
}
::ng-deep .mat-input-infix{
    background: white;
    border: 1px solid rgb(200,200,200);
    border-radius:3px;
  }
  ::ng-deep .mat-input-underline,.mat-form-field-underline{
    display: none;
  }
  ::ng-deep .mat-input-infix>textarea{text-align:center;
    background: white!important;
    border:none!important;
  }