
   
  <div fxLayout="row" fxLayout.lt-sm="column">                
        <div fxFlex="10" >
    
  
     </div>
      
       <div fxFlex="30" style="text-align: center;">
          <strong>{{Label['available_user']}}</strong>
          <mat-list *ngIf="desktopView" class="scroll">
          <mat-list-item  class="sd list_item" (click)="getUserDetails(u);fooo(u);onpselect(i);"  *ngFor="let u of USR_NM  ; let i = index;"  [class.active]="i == selecteduser">
          <div>{{u}}</div>
          </mat-list-item>
          </mat-list>
          <mat-form-field *ngIf="mobileView" style="width:100%;text-align: center;" [floatLabel]="'never'">
            <mat-select style="margin-top:10px;" placeholder="--Select--">
              <mat-option style="text-align:center;"  (click)="getUserDetails(u);fooo(u);onpselect(i);" *ngFor="let u of USR_NM  ; let i = index;" [value]="u">{{u}}</mat-option>
            </mat-select>
          </mat-form-field><br />
          <strong>{{Label['user_description']}}</strong>
          <mat-form-field style="width:100%;">
                <textarea matInput [(ngModel)]="USR_DSC_R" >

                </textarea>
          </mat-form-field>
      </div>
        <div fxFlex="3" ></div>
        <div fxFlex="30" style="text-align: center;">
            <strong>{{Label['Group']}}</strong>
            <mat-list *ngIf="desktopView" class="scroll">
            <mat-list-item  class="list_item"  (click)="getAvailableGroup(g);selected(g);onqselect(j);"  *ngFor="let g of USR_GRP_CD  ; let j = index;"  [class.active]="j == selectedgroup">
            <div>{{g}}</div>
            </mat-list-item>
            </mat-list>
            <mat-form-field *ngIf="mobileView" style="width:100%;text-align: center;" [floatLabel]="'never'">
                <mat-select style="margin-top:10px;" placeholder="--Select--">
                  <mat-option style="text-align:center;"  (click)="getAvailableGroup(g);selected(g);onqselect(j);" *ngFor="let g of USR_GRP_CD  ; let j = index;" [value]="g">{{g}}</mat-option>
                </mat-select>
              </mat-form-field>
            <br />
            <strong>{{Label['Grp_dscr']}}</strong>
            <mat-form-field style="width:100%;">
                  <textarea matInput [(ngModel)]="USR_GRP_DSCR" >

                  </textarea>
            </mat-form-field>
      
          </div>
          <div  fxFlex="3"></div>
      <div  fxFlex="30">
        <br /> <br /> <br />
          <button mat-raised-button (click)="AddGroupTL()" color="primary"><mat-icon>play_arrow</mat-icon> {{Label['execute_btn']}}</button>
          <button mat-raised-button color="primary"><mat-icon>move_to_inbox</mat-icon> {{Label['include_btn']}}</button>
      </div>
      </div>
  
 